<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>News</title>
	<link rel="stylesheet" title="home" href="../../static/musicbox/scripts/style_news.css" />
	<link href="{% static 'musicbox/scripts/agency.css' %}" rel="stylesheet">
	<link href="{% static 'musicbox/scripts/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body>
<div id="image"><img src="../../static/musicbox/images/music_player_button.jpg" alt=""></div>
	<div id="title"><h1>Cloud 6 Music Center</h1></div>
	<div id="search"><input type="text"> search</input></div>
	<div id="header">
		<ul>
			<li><a href="home.html">Home</a></li>
			<li class="current"><a href="genre.html">Genre</a></li>
			<li><a href="upload.html">Upload</a></li>
			<li><a href="news.html">News</a></li>
			<li><a href="rating.html">Rating</a></li>
			<li><a href="contact.html">Contact Us</a></li>
		</ul>
	</div>
	<div class="border">
	<div id="newsImage"><img src="../../static/musicbox/images/adele.jpg" alt="">
	<p>Britney Spears Dancing To Adele's <br>'Hello' Is Perfectly Hypnotizing</p></div>
	<div id="news">		
		<p>&nbsp &nbsp &nbsp &nbsp &nbsp We already know Britney Spears is a huge fan of Adele, and while we're waiting to fangirl 
		over the eventual photo of these two queens of the music charts together, Britney has provided 
		us with a nice little teaser to tide us over.<br><br>&nbsp &nbsp &nbsp &nbsp &nbsp Behold, thanks to the magic of Instagram, the
		ever-impressively-twirling Britney, soundtracked to Adele's "Hello"</p>
	</div>
	</div>
	<div id="comment">
	<p>Comment:</P>
	<input type="text"></input>
	</input>
</body>
</html>
